/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da página */
body {
    background: #a0c4ff; /* azul suave */
    font-family: Arial, sans-serif;
}

/* Container centralizado */
.container {
    width: 100%;
    max-width: 450px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 40px auto;
    padding: 20px;
    background-color: #dbe9ff; /* azul claro para contraste */
}

/* Formulário */
.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Labels e inputs */
.form-control label {
    margin-top: 15px;
    color: #0c0c0c;
    width: 100%;
}

.form-control input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    outline: none;
}

/* Botão */
#verifica-nota {
    background: #191970;
    color: #fff;
    border: 1px solid white;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

#verifica-nota:hover {
    background: #e8e5e5;
    color: #191970;
}

/* Resultados */
#result {
    color: #000;
    margin-bottom: 10px;
}

/* Mensagens de erro */
#message {
    display: none;
}

#message span {
    color: red;
    display: block;
    padding-bottom: 10px;
}
