/* Estilo geral da página */
body {
    background: linear-gradient(to right, #e68803, #020784);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
}

/* Título principal */
h1 {
    font-size: 2.5em;
    color: #d94f4f;
    background-color: #fff5f5;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: pop 0.6s ease-out;
}

/* Número de dias em destaque */
#dias {
    font-weight: bold;
    color: #ff2e63;
    font-size: 1.2em;
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-size: 32px;
    color: #07cd04;

}

#hora {
    font-family: 'Courier New', Courier, monospace;
    /* fonte de relógio */
    font-size: 40px;
    /* tamanho grande */
    font-weight: bold;
    /* negrito */
    color: #28a745;
    /* verde */
    background-color: #e0f7e9;
    /* fundo claro */
    padding: 10px 25px;
    /* espaçamento */
    border-radius: 12px;
    /* cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* sombra suave */
    display: inline-block;
    /* para aplicar padding e sombra corretamente */
    letter-spacing: 3px;
    /* espaço entre caracteres para estilo digital */
    user-select: none;
    /* evita seleção do texto */
}

.card {
  width: 300px; /* largura do card */
  border-radius: 10px; /* bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* sombra */
  overflow: hidden; /* para bordas arredondadas funcionarem na imagem */
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card img {
  width: 100%; /* imagem ocupa toda a largura do card */
  height: auto; /* mantém a proporção */
  display: block;
}

.card-info {
  padding: 15px;
}

.card-info h3 {
  margin: 0 0 10px 0;
}

.card-info p {
  margin: 0;
  color: #555;
  font-size: 14px;
}

/* Animação de entrada */
@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Classe que será adicionada com JS para fazer girar */