* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background: rgba(227, 225, 225, 0.911);
}

.container {
    background: #fff;
    max-width: 1064px;
    margin: 0 auto;
}

.titleGenera h1 {
    padding-left: 25px;
    color: orangered;
}

/* CRIANDO HEADER */
header {
    background: rgba(255, 0, 0, 0.96);
    /* ALTURA */
    height: 130px;
    border-bottom: 3px solid rgb(89, 244, 16);
    /* FLOXBOX */
    display: flex;
    align-items: center;
}

header img {
    margin-left: 10px;
    margin-right: 20px;
}

header h2 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 25px;
}

/* MENU DO SITE*/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
     background-color: #dde5ea;
     list-style: none;
}


.menu li {
    /* border: 1px solid red; */
   
    /*espaçamentos*/
    padding: 18px;
}

.menu li a {
    font-size: 23px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 18px;
}
.menu li a:hover {
    text-decoration: underline;
}

/* BANNER */
.banner {
    max-width: 1000px;
    height: 250px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 20px;
    /*cortar imagem*/
    overflow: hidden;

}

/* Content HOME */
.content-box {
    margin: 20px;
    /*flebox*/
    display: flex;
    
}

.box {
    border: 1px solid rgb(225, 9, 9);
    max-width: 300px;
    border-radius: 10px;
     /*cortar imagem*/
    overflow: hidden;
    margin: 10px 35px 20px 15px;
    /*sombra*/
    box-shadow: 2px 2px 3px rgb(187, 183, 183);
}

.box img {
border-bottom: 1px solid rgb(255, 8, 0);
}

.box p {
    padding: 10px;
    color: black
}

.box a{ 
    padding: 0 0 10px 10px;
    display: block;
    color: rgb(0, 8, 255);
    text-decoration: none;
    /*negrito*/
    font-weight: bold;

}

.box a:hover {
    text-decoration: underline;
}

.promocao img{
    max-width: 800px;
    height: 180px;
    border: 2px solid red;
    border-radius:20px;
    margin: 20px;
     /*cortar imagem*/
    overflow: hidden;
}

/* NOVIDADES */
.novidades {
    background-color: #dde5ea;
    margin-top: 20px;
    /* Flexbox */
    display:flex;
    justify-content: space-around;
}

.novidades span {
    font-size: 150px;
}

.novidades article {
    /* Flexbox */
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.novidades form {
    width: 100%;
}

.novidades form input {
    max-width: 300px;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
}

.novidades form button {
    border: 1px solid rgb(230, 230, 230);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color:black;
    font-weight: bold;
}

footer {
    background: #000000;
    height: 40px;
    /* Flexbox */
    display:flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ffffff;
}

/* Página sobre*/
.spaceSobre {
    margin:20px 0 20px 0;
   
}

.container {
    margin-left: 30px;
    margin-bottom: 30px;
    
}

.containerLista details {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.containerLista article {
    margin-top:  8px;
    color: blue;
}

.sobreGeral h2 {
     margin-bottom: 10px;
     color:blue;
}

.listaValores {
    list-style: none;
}

.sobregrau h2 {
margin-bottom: 10px;
color: blue;
}

/* pagina contato */
.text-contato {
    margin: 0 0 20px 20px;
    font-size:  42px;
}

.text-contato strong {
    color: rgb(18, 162, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    margin: 20px;
    /* border: 1px solid red; */
}

.form-gorup {
    /* border: 1px solid rgb(135, 142, 222); */
    margin-top: 20px;
    margin-bottom: 20px;
    }

.form-group select {
    border-radius: 8px;
    height: 30px;
    width: 100%;
    max-width: 300px;
}

.form-gorup label {
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

.form-gorup input {
    width: 100%;
    max-width: 600px;
    height: 30px;
    border: 1px solid #bcbaba;
    outline: none;
    padding-left: 5px;
    border-radius: 7px;
}

.form-gorup-sexo label {
    display: inline-block;
    margin-top: 10px;
}

.legend {
    padding: 10px;
    display: inline-block;
    font-size: 18px;
}

.form-gorup-info {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-control-padrao {
    width: 100%;
    max-width: 50px;
    height: 30px;
    border: 1px solid #bcbaba;
    outline: none;
    padding-left: 5px;
    border-radius: 7px;
}

.comentario {
    width: 100%;
    max-width: 300px;
    height: 150px;
    border: 1px solid #bcbaba;
    outline: none;
    padding-left: 5px;
    border-radius: 7px;
    display: block;
    margin-top: 10px;
    padding-top: 5px;
}

.title {
    color: blue;
    font-weight: bold;
}

.btn-enviar {
    background: blue;
    margin-bottom: 20px;
    padding: 10;
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

